h2 {
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);

    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);

    margin-top: 18px;
    margin-left: 29px;
    margin-bottom: 11px;
}

p {
    font-size: var(--font-3);
    font-weight: var(--font-weight-0);

    margin-bottom: 10px;
    margin-left: 29px;
}

.main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1182px;
    margin: 0 auto;
    padding-top: 109px;
}

ul {
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;
    width: 1182px;
    height: 385px;

    background-color: var(--color-background-1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    margin-bottom: 53px;
    overflow-y: auto;
}
ul::-webkit-scrollbar {
    width: 9px;
}

ul::-webkit-scrollbar-thumb {
    background-color: var(--color-brand-1);
}

li {
    position: relative;
    width: 489px;
    margin-left: 30px;
    margin-top: 50px;


    border: 1px solid var(--color-brand-1);
    background-color: var(--color-white);
}

li > button {
    background-color: var(--color-white);
    border: none;
}

.li__dep {
    height: 196px;
}

.li__user {
    height: 145px;
}

.dep__look {
    position: absolute;
    top: 26.83px;
    right: 36.96px;
}

.dep__edit {
    position: absolute;
    top: 74.01px;
    right: 36.96px;
}

.dep__delete {
    position: absolute;
    top: 124.24px;
    right: 36.96px;
}

.user__edit {
    position: absolute;
    top: 26.83px;
    right: 36.96px;
}

.user__trash {
    position: absolute;
    top: 74.01px;
    right: 36.96px;
}

.select__button {
    position: absolute;
    top: 25px;
    right: 0px;
}

.create {
    position: absolute;
    top: 102px;
    right: 0px;
}

/* -------------------------- */
/* --------- dialog --------- */
/* -------------------------- */

.dialog__look {
    height: 590px;
    width: 857px;
    border: none;
}

.look__div > select {
    margin-top: 7px;
    margin-left: 43px;
    margin-bottom: 16px;
    
    width: 600px;
    padding: 17px;

    border: 1px solid var(--color-border);
    font-size: var(--font-3);
    color: var(--color-font);
}

.hire__button {
    background-color: var(--grenn);
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-white);
    border: 1px solid var(--grenn);

    height: 52px;
    width: 190px;
    padding: 14px 43px;
}

.look__div > ul {
    box-shadow: none;
    margin-left: 43px;
    
    width: 795px;
    height: 290px;
}

.look__div > ul > li {
    height: 196px;
    width: 306px;

    margin-top: 43px;
    margin-left: 29px;
}

.depart__name {
    margin-top: 39px;
    margin-left: 43px;
    margin-bottom: 31px;

    font-size: var(--font-0);
    font-weight: var(--font-weight-1);
}

.depart__description {
    margin-left: 43px;

    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
}

.owned__company {
    margin-left: 43px;
    margin-top: 11px;
    margin-bottom: 18px;

    font-size: var(--font-3);
    font-weight: var(--font-weight-0);
}

.user__name {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);

    margin-top: 18px;
    margin-left: 103px;
}

.campany__name {
    font-size: var(--font-3);
    font-weight: var(--font-weight-0);

    margin-top: 11px;
    margin-left: 85px;
}

.dismiss__button {
    background-color: var(--color-white);
    border: 1px solid var(--orange);
    color: var(--orange);

    font-size: var(--font-3);
    font-weight: var(--font-weight-1);

    padding: 13px 42.23px;
    height: 48px;
    width: 255px;

    margin-top: 52px;
    margin-left: 24px;
}

.close__button {
    background-color: var(--color-white);
    border: none;

    position: absolute;
    right: 31.68px;
    top: 31.68px;
}

.dialog__edit--user {
    height: 359px;
    width: 506px;
    border: none;
}

.div__edit--user > input {
    border: 1px solid var(--color-border);
    font-size: var(--font-3);

    margin-top: 16px;
    margin-left: 43px;
    
    width: 390px;
    padding: 17px;
}

.name__edit--user {
    font-size: var(--font-0);
    font-weight: var(--font-weight-1);

    margin: 39px 0 4px 43px;
}

.button__edit--user {
    background-color: var(--grenn);
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-white);
    border: 1px solid var(--grenn);

    margin-top: 36px;
    margin-left: 43px;

    height: 48px;
    width: 425px;
    padding: 11px 82px;
}

.dialog__create {
    height: 390px;
    width: 506px;
    border: none;
}

.div__create {
    display: flex;
    flex-direction: column;
}

.div__create > h2 {
    margin-top: 39px;
    margin-left: 43px;
    margin-bottom: 20px;

    font-size: var(--font-0);
    font-weight: var(--font-weight-1);
}

.div__create > input {
    border: 1px solid var(--color-border);
    font-size: var(--font-3);

    margin-left: 43px;
    margin-bottom: 13px;

    width: 390px;
    padding: 17px;
}

.div__create > select {
    border: 1px solid var(--color-border);
    color: var(--color-font);
    font-size: var(--font-3);

    margin-left: 43px;
    margin-bottom: 14px;

    width: 426px;
    padding: 17px;
}

.create__button {
    background-color: var(--grenn);
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-white);
    border: 1px solid var(--grenn);

    margin-left: 43px;

    height: 48px;
    width: 425px;
    padding: 11px 82px;
}

.dialog__edit--dep {
    height: 330px;
    width: 506px;
    border: none;
}

.div__edit--dep > h2 {
    margin-top: 39px;
    margin-left: 43px;
    margin-bottom: 20px;

    font-size: var(--font-0);
    font-weight: var(--font-weight-1);
}

.div__edit--dep > input {
    margin-left: 43px;
    border: 1px solid var(--color-border);

    width: 390px;
    height: 113px;

    padding: 17px;
    font-size: var(--font-3);
    font-weight: var(--font-weight-0);
}

.button__edit--dep {
    background-color: var(--grenn);
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-white);
    border: 1px solid var(--grenn);

    margin-top: 14px;
    margin-left: 43px;

    height: 48px;
    width: 425px;
    padding: 11px 82px;
}


.modal__delete--dep {
    height: 280px;
    width: 733px;
    border: none;
}

.modal__delete--user {
    height: 240px;
    width: 700px;
    border: none;
}

.delete__name--dep {
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);

    margin: 50px 67px 38px 67px;
    line-height: 42px;
}
.delete__name--user {
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);

    margin: 30px 100px 34px 100px;
    line-height: 42px;
}

.button__delete--department {
    background-color: var(--orange);
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-white);
    border: 1px solid var(--orange);

    margin-left: 140px;

    height: 48px;
    width: 422px;
    padding: 11px 82px;
}

.button__delete--user {
    background-color: var(--orange);
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-white);
    border: 1px solid var(--orange);

    margin-left: 140px;

    height: 48px;
    width: 422px;
    padding: 11px 82px;
}
